* {
  margin: 0;
  padding: 0;
}

/* Styling of robot (BEEZEE) */
div#beezee_container {
  border: 1em solid black;
  background-color: #404040;
  background-image: url('../resources/metal2.jpeg');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire */
  box-shadow: 5px 10px 8px black;
  width: 50%;
  height: 50%;

  /* Placing robot in center, both ver. and hor. */
  position: fixed; /*it can be absolute too*/
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin:auto;

  max-width:100%;
  max-height:100%;
}

/* Container of eyes */
div#eyes_container {
  /* Make into grid with 2 col */

}

#left_eye {
  float: left;
}

#right_eye {
  float: right;
}

.eye {
  background-image: radial-gradient(circle, white, #000066, #000066, #000066, #000066, #000066);
  border: 0.5em solid black;
  width: 7em;
  height: 7em;
  margin: 2em 9em 8em 9em;
  text-align: center;
}

/* Timer */
div#timer_container {
  background-color: black;
  border: 0.5em solid #0d0d0d;
  color: red;
  font-family: Digital7Mono;
  text-align: center;
  width: 20%;
  padding: 1em;

  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -0.5em;
}

div#timer {
  font-size: 6em;
}

div#light_container {
  display: table;
  margin: 2em 0em 0em 2em;
  border-collapse: separate;
  border-spacing: 1em;
}

div.light {
  background-image: radial-gradient(#990000,#330000);
  border: 0.4em solid black;
  border-radius: 20px;
  margin: 100px;
  height: 3em;
  width: 3em;
  display: table-cell;
}

/* Container of mouth */
div#mouth_container {
  /* Multiple column layout */
  column-count: 5;
  column-gap: 0;

  position: absolute;
  bottom: 0;

  width:70%;
  left:50%;
  margin-left:-35%;
  height: 40%;
}

div.tooth {
  /* Distribute width over all tooth */
  flex: 1;

  padding: 20%;
  border: 0.2em solid black;
}

/* Different tooth classes (A,B,C) give a different color. */
/* These classes are used to switch between. */
.toothBlank {
  background-image: radial-gradient(#505050,#303030);
}

.toothA {
  /* background-color: red; */
  background-image: radial-gradient(#ff3333,#e60000,#330000);
}

.toothB {
  /* background-color: blue; */
  background-image: radial-gradient(#3333ff,#0000e6,#000033);
}

.toothC {
  /* background-color: green; */
  background-image: radial-gradient(#33ff33,#00e600,#003300);
}

.toothD {
  /* background-color: yellow; */
  background-image: radial-gradient(#ffff66,#ffff00,#999900);
}

.toothE {
  /* background-color: cyan; */
  background-image: radial-gradient(#00cccc, #33ccff);
}

.toothF {
  /* background-color: magenta; */
  background-image: radial-gradient(#cc00cc, #ff4dff);
}

#lostPuzzlePanel {
  position: absolute;
  top: 20%;
  right: -0.2em;
  width: 10%;
  height: 30%;
  background-color: red;
  font-size: 3em;

  border: 0.2em solid black;
  background-color: #404040;
  background-image: url('../resources/metal2.jpeg');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire */
  box-shadow: 5px 10px 8px black;
}

#lostPuzzleText {
  font-size: 12px;
}

#arrowScreen {
  border: 0.1em solid black;
  width: 70%;
  height: 40%;
  background-color: blue;
  margin: auto;
  margin-top: 5%;
  text-align: center;
}

.ui-progressbar-value {
  transition: width 0.5s;
  -webkit-transition: width 0.5s;
}

svg {
  border: 0px dashed red;
  margin: 5%;
}
