/* Import other CSS files.  */
@import url("beezee.css");
@import "timer.css";

/* Use custom fonts (downloaded). */
@font-face {
  font-family: Digital7Mono;
  src: url('../fonts/Digital7-mono.ttf');
}

/* Save colors to variables. */
:root {
    --achtergrond:  #1a1a1a;
    --paars:        #802392;
    --rood:         #f22e2e;
    --grijs-blauw:  grey;
    --grijs-licht:  #ade1e5;
}

/* Main screen styling. */
body {
  background-color: var(--achtergrond);
  font-family: monospace;
  color: white;
}
