/* Styling for start screen (index) */
html, body {
  font-size: 22px;
  background-color: black;
  font-family: monospace;
  color: white;

  min-height: 100%;

  /* Do not show cursus */
  /* cursor: none !important; */
}

#instruction_container {
  height: 20%;
  width: 60%;

  /* position: absolute;
	top:10%;
	bottom: 0;
	left: 0;
	right: 0; */

  margin: 10% auto auto auto;
}
