/* Styling for start screen (index) */
html, body {
  font-size: 22px;
  background-color: black;
  font-family: monospace;
  color: white;

  min-height: 100%;

  /* Do not show cursus */
  /* cursor: none !important; */
}

#instruction_container {
  margin: 20%;
}
