/* Timer */
div#timer_container {
  background-color: black;
  border: 0.5em solid #0d0d0d;
  color: red;
  font-family: Digital7Mono;
  text-align: center;
  width: 20%;
  padding: 1em;

  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -0.5em;
}

@keyframes blinker {
  50% {
    opacity: 0.2;
  }
}

div#timer {
  font-size: 6em;
}
